@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Roboto+Mono&family=Zen+Antique+Soft&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Zen Antique Soft', serif;
    line-height: 1.5rem;
    font-size: 100%;
}

body {
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    max-width: 1400px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #354a54;
}

/* nav-bar */
nav {
    font-family: 'Roboto Mono', monospace;
    padding: 20px 30px;
    background-color: #87bdd8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 1rem;
    overflow: hidden;
    margin-bottom: 20px;
    color: #daebe8;
}

.navbar {
    font-size: 1.5rem;
}

#logo {
    font-size: 3rem;
    transform: rotate(180deg);
    color: #354a54;
    margin: 0 auto;
}

.nav-links {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

.nav-item {
    flex: 1 0 50%;
    text-align: center;
}

.nav-links a {
    color: #354a54;
    display: block;
    text-decoration: none;
    letter-spacing: 0.2rem;
    padding: 0.8rem;
    transition: all ease-in-out 0.5s;
}

/* effect on hover - increase size and border radius effect with background highlighting*/
.nav-links a:hover {
    background-color: #acc3e8;
    border-radius: 40%;
    padding: 0.5rem;
    transform: scale(1.2);
}

/* a simple underline effect for the active page in menu not to collide with hover effect */
.active {
    text-decoration: underline;
}

/* hero image */
#hero-outer {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
}

#hero-image {
    height: 100%;
    width: 100%;
    background-image: url('../images/hero1-antoine-beauvillain-zY_NaksFH1k-unsplash.webp');
    background-size: cover;
    background-position: center;
}

#hero-text {
    font-size: 1.1em;
    color: black;
    margin: auto;
    text-align: center;
}

/* Short Info */
.short-info {
    color: #354a54;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #acc3e888;
    padding-top: 20px;
    padding-bottom: 20px;
}

.short-info-text {
    margin: 20px 50px;
    font-size: 1.4rem;
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.short-info-image {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

#short-info-image-one {
    background-image: url('../images/person-cry-pexels-karolina-grabowska-4472021.webp');
}

#short-info-image-two {
    background-image: url('../images/forced-smile-pexels-ketut-subiyanto-4584534.webp');
}

/* Contact */
/* a simple 3D like effect on the contact box*/
.contact {
    font-family: 'Montserrat Alternates', Tahoma, sans-serif;
    margin: 20px auto 0 auto;
    width: 80%;
    border: 3px solid #acc3e8;
    border-radius: 25px;
    box-shadow: 5px 10px #647cd7;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
}

.contact p {
    font-size: 1.2rem;
}

.contact button,
#submit {
    font-family: 'Montserrat Alternates', Tahoma, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #354a54;
    background-color: #acc3e8;
    letter-spacing: 2px;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
}

.contact button:hover,
#submit:hover {
    background-color: #99aebb;
    color: #fff;
}

/* location info */
.location-info {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 0 20px 40px 20px;
    justify-content: center;
}

.address {
    height: 400px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.address>div {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 10px;
}

.address h2 {
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-bottom: 0;
}

#address-image {
    background-image: url('../images/Pantheon_(Rome)_-_Right_side_and_front.webp');
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.address p {
    font-family: 'Roboto Mono', monospace;
}

/* location map */
.location-map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.location-map iframe {
    left: 0;
    top: 0;
    border: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    max-height: 500px;
}

/* footer */
footer {
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    background-color: #87bdd8;
}

.social-links {
    text-align: center;
}

.social-networks {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
}

.social-networks li {
    list-style: none;
}

.social-networks a {
    color: #354a54;
    text-decoration: none;
}

.social-networks a:hover {
    color: #647cd7;
}

.copyright {
    font-family: 'Montserrat Alternates', Tahoma, sans-serif;
    color: #354a54;
    display: flex;
    justify-content: center;
    background-color: #cfe0e8;
}

/* hide the text of the social network links and show only the corresponding icons*/
.icons-text {
    display: none;
}

/* articles */
article {
    padding-top: 20px;
    padding-bottom: 20px;
}

.articles {
    color: #354a54;
    display: flex;
    flex-direction: column;
}

.articles>h1 {
    text-align: center;
    padding: 20px 0;
}

.article-heading {
    margin: auto;
    background-size: cover;
    height: 300px;
    background-position: center;
}

.article-title {
    position: absolute;
    background-color: #99aebb98;
    background-clip: content-box;
    text-align: center;
    margin: 10px 5%;
    text-shadow: 1px 1px #000;
}

.article-text {
    text-align: justify;
    padding: 10px 10px;
    font-size: larger;
}

.article-title>h2 {
    color: #daebe8;
    padding: 0 5px;
}

/* different background colour for even and odd articles*/
.first {
    background-color: #f3ce5955;
}

.second {
    background-color: #647cd755;
}

#article-1>.article-heading {
    background-image: url('../images/caju-gomes-QDq3YliZg48-unsplash.webp');
}

#article-2>.article-heading {
    background-image: url('../images/nicholas-kusuma-xb2DaEeX8jk-unsplash.webp');
}

#article-3>.article-heading {
    background-image: url('../images/pexels-gratisography-1990.webp');
}

#article-4>.article-heading {
    background-image: url('../images/pexels-yan-krukov-7640764.webp');
}

/* videos gallery */
.videos-heading {
    text-align: center;
    font-size: 1.5rem;
    padding: 20px 10px;
    letter-spacing: 1.2px;
}

.videos {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.video-container {
    padding: 10px;
}

/* videos taking 100% of the width of the container on smaller screens */
iframe.video {
    width: 100%;
    height: 300px;
}

/* contact section */
.contact-section {
    color: #354a54;
    background-color: #f3ce5955;
}

.contact-us>h1 {
    padding-top: 20px;
    text-align: center;
}

.contact-section {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* Contact image doesn't appear on smaller screens */
#contact-image {
    display: unset;
    display: none;
}

.contact-inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
}

.contact-section #motto {
    font-size: x-large;
    font-weight: 500;
}

.contact-section form {
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 400px;
}

.contact-section form div {
    font-size: 1rem;
}

.personal-details,
.message-details {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

label {
    text-align: left;
}

.personal-details>div * {
    display: flex;
    width: 100%;
}

/* user unable to change the size of the message box*/
textarea {
    resize: none;
}

.submit-button {
    margin-top: 20px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-bottom: 20px;
}

#submit {
    width: 150px;
    padding: 5px;
}

input,
input::placeholder,
textarea {
    font-size: large;
    font-family: inherit;
}

/* media queries for min-widths of 600px and 900px */
@media (min-width: 600px) {
    nav {
        padding: 20px;
    }

    .navbar {
        line-height: 1.5rem;
        font-size: 1.5rem;
    }

    .nav-links {
        width: 100%;
    }

    .nav-item {
        flex: 1 0 10%;
    }

    #hero-outer {
        height: 600px;
        width: 100%;
        overflow: hidden;
        position: relative;
        display: inline-block;
        margin-bottom: 50px;
    }

    #hero-text,
    #hero-text h1 {
        color: #fff;
    }

    #hero-text {
        font-size: 1em;
        letter-spacing: 5px;
        width: 250px !important;
        background-color: #cfe0e898;
        top: 10%;
        left: 2.5%;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        background-clip: content-box;
    }

    #hero-image {
        height: 100%;
        width: 100%;
        background-image: url('../images/hero1-antoine-beauvillain-zY_NaksFH1k-unsplash.webp');
        background-size: cover;
    }

    .short-info {
        flex-flow: row;
        flex: 1 1 0;
    }

    .column {
        flex-basis: 50%;
        justify-content: space-between;
    }

    .address {
        height: 250px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .address>div {
        padding-top: 30px;
        padding-right: 30px;
        display: flex;
    }

    .address hr {
        margin-left: 10px;
        margin-right: 10px;
    }

    #address-image {
        max-width: 200px;
    }

    .articles {
        margin-bottom: 50px;
    }

    article {
        display: flex;
        margin: 50px auto;
        min-height: auto;
    }

    article>div {
        display: flex;
    }

    /* alternate position of the text/image in odd and even rows*/
    .first {
        margin: 0;
        padding-left: 20px;
    }

    .second {
        flex-direction: row-reverse;
        padding-right: 20px;
    }

    .articles {
        padding: 10px;
    }

    /* 2/3 of the row for the text, 1/3 for the image and title */
    .article-heading {
        margin: 0 10px;
        flex: 1;
        padding: 1rem;
        align-self: center;
    }

    .article-title {
        position: relative;
        background-clip: content-box;
        height: fit-content;
        text-align: center;
    }

    .article-text {
        flex: 2;
        margin: 0;
        justify-content: center;
        font-size: larger;
    }

    .article-text>p {
        margin: auto;
        padding: 1rem;
    }

    .address {
        padding-right: 30px;
    }

    .address h2 {
        text-align: right;
    }

    .location-map {
        padding-bottom: 25%;
    }

    .videos-heading {
        font-size: 2rem;
    }

    iframe.video {
        width: 100%;
        height: 400px;
    }

    .contact-section {
        width: 80%;
    }
}

@media (min-width: 900px) {
    .navbar {
        justify-content: space-between;
    }

    #logo {
        padding-left: 20px;
    }

    .nav-links {
        width: auto;
    }

    .logo {
        margin-right: auto;
    }

    .location-info {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    #address-image {
        max-width: 350px;
    }

    .icons-text {
        display: unset;
    }

    /* hide the icons in social networks links */
    .fab {
        display: none !important;
    }

    .contact-section {
        padding: 40px 20px;
    }

    .contact-inner {
        width: 50%;
        max-width: 600px;
    }

    .articles {
        padding: 1vh 4vw;
    }

    .articles h1 {
        font-size: 2rem;
    }

    .article-text {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .videos {
        text-align: center;
    }

    /* two youtube videos in a row on big screens */
    .row {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .video-container {
        padding: 20px 5px;
        width: 50%;
    }

    iframe.video {
        width: 90%;
    }

    /* show contact-image on big screens */
    #contact-image {
        display: unset;
        margin: 0 auto;
        padding-top: 50px;
        padding-right: 20px;
        background-image: url('../images/pexels-pia-kafanke-3807702-smaller.webp');
        width: 70%;
        height: 500px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .contact-inner {
        width: 50%;
    }

    .contact {
        max-width: 400px;
    }
}